.home {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.4em;
    margin-top: 1em;
}
.carte {
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: auto;
}
@media screen and (max-width: 1024px) {
    .home {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.4em;
        margin-top: 1em;
    }
}
@media screen and (max-width: 650px) {
    .home {
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        margin-top: 1em;
        justify-content: center;
    }
}
